<header>
  <div id="logo">
    <%= link_to "Twitter", root_path %>
  </div>
  <nav>
    <ul>
      <li><%= link_to "ホーム", root_path %></li>
      <li><%= link_to "話題を検索", explore_path %></li>
      <li><%= link_to "通知", notifications_path %></li>
      <li><%= link_to "メッセージ", messages_path %></li>
      <li><%= link_to "ブックマーク", bookmarks_path %></li>
      <li><%= link_to "リスト", lists_path %></li>
      <li><%= link_to "プロフィール", profile_path(current_user) %></li>
      <li><%= link_to "もっと見る", more_path %></li>
      <%= link_to "Tweet", new_tweet_path, class: "tweet-button" %>
    </ul>
  </nav>
</header>
